body {
    font-family: 'Poppins', sans-serif;
}

.menu {
    background-color: #3145b6;
    text-align: center;
}

.container {
    width: 950px;
    padding: 30px 0;
}

h2, .subtitle {
    color: white;
}

.title-detail:before {
    content: '';
    position: absolute;
    top: 30px;
    left: 15px;
    border-bottom: 3px solid #3145b6;
    width: 20%;
}

p {
    font-size: 17px;
    margin: 0;
}

span {
    color: white;
}

a:hover {
    text-decoration: none;
}

.outline {
    color: #3145b6;
    text-align: center;
    width: 100%;
    border-bottom: none;
}

.cases {
    margin-top: 30px;
}

.link-list {
    text-align: center;
    margin-top: 30px;
}

.link-list .more {
    color: #0055a0;
    font-size: 17px;
    border: 1px solid #3145b6;
    border-radius: 20px;
    padding: 2px 15px;
    text-decoration: none;
    transition: all .2s ease;
}

.link-list .more:hover {
    color: white;
    background-color: #3145b6;
    border: 1px solid #3145b6;
    text-decoration: none;
}

span .white {
    color: white;
    border: none;
}

span .white:hover {
    color: white;
    background-color: transparent;
    border-bottom: 1px solid white;
    text-decoration: none;
}

#myUL {
    list-style: none;
}

.cards {
    color: #212529;
    padding: 0;
}

.cards:hover {
    color: #212529;
    background-color: transparent;
    border: none;
    text-decoration: none;
}


.row .col-6 {
    text-align: center;
    padding: 10px 20px;
    border-radius: 20px;
}

.row .countries {
    margin: 20px 0;
}

#myInput {
    border: none;
    width: 250px;
    border-bottom: 1px solid #3145b6;
    outline: none;
}

/* style the tab */
.tab {
    overflow: hidden;
}
  
/* style the buttons */
.tab button {
    background-color: white;
    border: none;
    border-bottom: 2px solid #3145b6;
    outline: none;
    cursor: pointer;
    padding: 14px 16px 4px;
    margin-right: 10px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #3145b6;
    color: white;
    padding-bottom: 10px;
}
  
.tab button.active {
    background-color: #3145b6;
    color: white;
    padding-bottom: 10px;
}
  
.tabcontent {
    display: none;
    padding: 20px 15px;
    border-top: none;
}